.center {
	text-align: center;
}

.contain {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttonLogin {
	margin-top: 2em;
}

.cura {
	width: 40%;
	margin-bottom: 1.5em;
}

a {
color: #6699ee !important;
}